:root{
    --black-600: #333533;
    --gray-700: #727171;
    --gray-100: #D6D6D6;
    --yellow-400: #FFEE32;
    --yellow-800: #FFD100;

    font-size: 50%;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    color: var(--black-600);
}

*, input, button, textarea{
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
 }

.container{
    width: 75vw;
    margin-top: 6rem;
    margin-bottom: 6rem;
}


.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.link-btn {
    height: 8rem;
    width: 100%;
}

.link-btn:last-of-type{
    margin-top: 2rem;
}

.btn{  
    border: none;
    background-color: var(--yellow-800);

    width: 100%;
    padding: 1.8rem;
    border-radius: 2rem;
    height: 8rem;
    margin-top: 4rem;
    transition: all .1s;
}

.btn:active, .btn:hover {
    background-color: var(--yellow-400);
}

.btn strong{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: .5rem;
    font-weight: 600;
    font-size: 2.5rem;
}

.btn.btn-black {
    background-color: var(--black-600);
}

.btn.btn-black:active, .btn.btn-black:hover {
    background-color: var(--gray-700);
}

.btn.btn-black strong {
    color: #FFF;
}

strong {
    font-weight: 600;
}

.header{
    display: flex;
    align-items: center;

    gap: 4rem;
    margin-bottom: 8rem;
}

.header button{
    background: none;
    border: none;
}

.header h1{
    font-size: 4rem;
}

.header h2 {
    font-size: 4rem;
    color: var(--gray-700);
}

.sm-title{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 500;   
}

.payment__value{
   display: flex;
   flex-direction: column;
}

.payment__value > strong{
   margin-bottom: 2rem;
}

.payment__value label{
   width: 100%;
   position: relative;
}

.payment__value label > strong{
   position: absolute;

   top: 15px;
   left: 10px;
   font-size: 2rem;
}

.payment__value input{
   border: solid .25rem var(--black-600);
   background: none;

   padding: 1rem 4rem;
   border-radius: 2rem;
   width: 100%;
   height: 6rem;

   appearance: textfield;
}

.payment__value{
   margin-bottom: 2rem;
}

.fieldset {
    margin-bottom: 2rem;

    border: none;
}

.input {
    border: solid .25rem var(--black-600);
    background: none;
    padding: 1rem 4rem;
    border-radius: 2rem;
    width: 100%;
    height: 6rem;
    margin-top: 2rem;
}

.input-title {
    font-weight: 500 ;
    font-size: 3rem;
}

#confirmation{
    position: absolute;
    top: 50%;
    left: 50%;
 
    transform: translate(-50%, -50%);
    border: none;
 }
 
 #confirmation::backdrop{
    background: rgba(255, 255, 255, 0.8);
 }
 
 #confirmation section{
    background-color: var(--black-600);
  
    width: 36rem;
    border-radius: 2rem;
    padding: 3rem 4rem;
 }
 
 #confirmation section h2{
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #FFF;
 
    text-align: center;
 }
 
 #confirmation .confirmation__operations{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
 }
 
 #confirmation .confirmation__operations button{
    font-weight: 600;
    background: none;
    border: none;
    color: #FFF;
 }
 
 #confirmation .confirmation__operations button:last-of-type{
    color: var(--yellow-800);
 }