.container{
   width: 75vw;
   margin-top: 6rem;
   margin-bottom: 6rem;
}

:is(.client, .items, .payment){
   margin-bottom: 4rem;
}

:is(.client, .items, .payment, .observation) h2{
   font-size: 3rem;
   margin-bottom: 2rem;
   font-weight: 500;   
}

.client select{
   border: solid .25rem var(--black-600);
   background: none;

   padding: 1rem 2.5rem;
   border-radius: 2rem;
   width: 100%;
   height: 6rem;
}

.items-list{
   gap: 1.8rem;
   width: 100%;

   display: flex;
   flex-direction: column;

   margin-bottom: 2rem;
}

.item-container{
   border: solid .25rem var(--black-600);

   border-radius: 2rem;
   padding: 2rem;
}

.item-container__header{
   display: flex;
   justify-content: space-between;

   margin-bottom: 1rem;
}

.item-container__header select{
   width: 82%;
   padding: .5rem 1rem;
   border-radius: 2rem;

   background: none;
   border: solid .25rem var(--black-600);
}

.item-container__header button{
   border: none;
   background: var(--yellow-800);

   border-radius: 50%;
   width: 4rem;
}

.item-container__header button img{
   width: 2.5rem;
   height: 2rem;
}
.item-container .item-container__info{
   display: flex;
   flex-direction: column;

   gap: 1rem;
}

.item-container .item-container__info--list{
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.item-container .item-container__info--list .qtty-input{
   width: 10rem;
}  

.item-container .item-container__info--list .qtty-input input{
   border-radius: 2rem;
   width: 100%;
   height: 3rem;

   padding-left: calc(50% - 1rem);
   /*padding-right: 50%;*/

   background: none;
   border: solid .25rem var(--black-600);
   appearance: textfield;
}


.item-container .item-container__info--list .qtty-input input::-webkit-inner-spin-button, .item-container .item-container__info--list .qtty-input input::-webkit-outer-spin-button{
   -webkit-appearance: textfield;
}

.item-container .item-container__info--list span{
   font-size: 2rem;
}

.item-container .item-container__info--list :is(.price-info, .subtotal-info){
   background: none;
   border: solid .25rem var(--black-600);
   border-radius: 2rem;

   width: 10rem;
   height: 3rem; 
   padding-left: 5px; 
}

.items > button{
   border-radius: 2rem;
   width: 100%;
   height: 5rem   ;

   border: none;
   background: var(--yellow-800);
}

.payment > select{
   border: solid .25rem var(--black-600);
   background: none;

   padding: 1rem 2.5rem;
   border-radius: 2rem;
   width: 100%;
   height: 6rem;
   margin-bottom: 2rem;
}

.payment__value{
   display: flex;
   flex-direction: column;
}

.payment__value > strong{
   font-weight: 600;
   font-size: 2rem;
   margin-bottom: 2rem;
}

.payment__value label{
   width: 100%;
   position: relative;
}

.payment__value label > strong{
   position: absolute;

   top: 15px;
   left: 10px;
   font-size: 2rem;
}

.payment__value input{
   border: solid .25rem var(--black-600);
   background: none;

   padding: 1rem 4rem;
   border-radius: 2rem;
   width: 100%;
   height: 6rem;

   appearance: textfield;
}

.payment__value{
   margin-bottom: 2rem;
}

.payment__results{
   font-size: 2rem;
   margin-bottom: 2rem;
   font-weight: 600;
}

.payment__results span{
   font-weight: 600;
}

.payment__results strong{
   color: var(--yellow-800);
   font-weight: 600;
}

.observation{
   margin-bottom: 4rem;
}

.observation textarea{
   border-radius: 2rem;
   padding: 1rem 2rem;
   width: 100%;
   height: 10rem;

   border: solid .25rem var(--black-600);
   resize: none;
}

.new-sale-foooter{
   display: flex;
}

.new-sale-footer .btn{
   width: 100% !important;
}


#discard-alert{
   position: absolute;
   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%);
   border: none;
}

#discard-alert::backdrop{
   background: rgba(255, 255, 255, 0.8);
}

#discard-alert section{
   background-color: var(--black-600);
 
   width: 36rem;
   border-radius: 2rem;
   padding: 3rem 4rem;
}

#discard-alert section h2{
   font-size: 3rem;
   margin-bottom: 3rem;
   color: #FFF;

   text-align: center;
}

#discard-alert .discard-alert__operations{
   display: flex;
   justify-content: space-between;
   gap: 3rem;
}

#discard-alert .discard-alert__operations button{
   font-weight: 600;
   background: none;
   border: none;
   color: #FFF;
}

#discard-alert .discard-alert__operations button:last-of-type{
   color: var(--yellow-800);
}